name: 'build'

on:
  push:
    branches:
      - 'main'
  pull_request:
    types: [opened, reopened, synchronize]
  schedule:
    - cron: '0 1 * * 6'

jobs:
  build:
    strategy:
      matrix:
        idf_ver: ["release-v4.2", "release-v4.3", "release-v4.4", "release-v5.0", "latest"]
        idf_target: ["esp32"]
        include:
          - idf_ver: "release-v4.2"
            idf_target: esp32s2
          - idf_ver: "release-v4.3"
            idf_target: esp32c3
          - idf_ver: "release-v4.4"
            idf_target: esp32s3
          - idf_ver: "release-v5.0"
            idf_target: esp32c2
    runs-on: ubuntu-20.04
    container: espressif/idf:${{ matrix.idf_ver }}
    steps:
      - uses: actions/checkout@v1
        with:
          submodules: recursive
      - name: Build for ${{ matrix.idf_target }}
        env:
          IDF_TARGET: ${{ matrix.idf_target }}
        shell: bash
        run: |
          . ${IDF_PATH}/export.sh
          cd example
          idf.py build
